container_commands:
  01_move_content_to_primary_dir:
    command: "sudo cp -r src/* ."
    leader_only: true
  # 01_migrate:
  #   command: "python saveio/manage.py migrate"
  #   leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: saveio.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: saveio.wsgi:application
