# container_commands:
#   01_migrate:
#     command: "python saveio/manage.py migrate"
#     leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: saveio.saveio.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: saveio.saveio.wsgi:application
