container_commands:
  01_move_content_to_primary_dir:
    command: "sudo cp -r src/* . && sudo rm -r src/*"
    leader_only: true
  # 02_fix_dir_permissions:
  #   command: "sudo chown -R $(whoami) ."
  #   leader_only: true
  # 03_migrate:
  #   command: "python manage.py migrate"
  #   leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: saveio.settings.eb
  aws:elasticbeanstalk:container:python:
    WSGIPath: saveio.wsgi:application
